@import url('https://fonts.cdnfonts.com/css/manyeto');

#item1 {
  color: rgb(0, 213, 255);
}

#item2 {
    color: #EBEBEB;
}

#phrase {
    text-align: left;
    font-size: 75px;
    font-family: 'Manyeto', sans-serif;
  }
  
  .landing-page {
    margin-top: 0%;
  }

  .button {
    display: inline-block;
    width: 300px;
    font-family: 'Segoe Condensed', sans-serif;
    text-align: center;
    background-color: rgb(249, 255, 214);
    font-size: 22px;
    padding: 18px;
    margin-top: 8%;
    border-radius: 5px;
  }

  .button:hover{
    color: rgb(43, 139, 139);
    opacity: 90%;
  }
  
  .heroSection {
    background-image: url("/images/landingPageImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .heroSection .text-and-button {
    margin-left: 10%;
  }

  #shop-title {
    font-family: 'Segoe Condensed', sans-serif;
    text-align: center;
    margin-top: 3%;
    font-weight: bold;

  }

  #tag {
    font-family: 'Segoe Condensed', sans-serif;
    text-align: center;
  }

  .grid-container {
    margin-bottom: 5%;
  }

  .button-shop {
    font-family: 'Segoe Condensed', sans-serif;
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: rgb(202, 185, 216);
    font-size: 22px;
    padding: 12px;
    margin-top: -100%;
    margin-left: 46.25%;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
  }

  .button-contact {
    font-family: 'Segoe Condensed', sans-serif;
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: rgb(202, 185, 216);
    font-size: 22px;
    padding: 12px;
    margin-left: 46.25%;
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
  }

  .button-shop:hover{
    color: rgb(102, 29, 205);
    opacity: 85%;
  }

  #contact-title {
    font-family: 'Segoe Condensed', sans-serif;
    text-align: center;
    margin-top: 5%;
  }